{{input type='email' value=email placeholder="Email"}}
{{input type='password' value=password placeholder="Password"}}

{{#if errors}}
  <div class="errors">{{errors}}</div>
{{/if}}

<button onclick={{action 'login'}}>Login</button>


