<div class="wrap">
  {{textarea value=writeable.title class="title" placeholder="In the beginning..."}}
  {{textarea value=writeable.body class="body" placeholder="The earth was without form and void, and darkness was over the face of the deep..."}}
  <div class="controls">
    <button onclick={{action 'close'}}>Close</button>
    <button onclick={{action 'save'}} class="inv">Save</button>
  </div>
</div>