html{
  height: 100%;
  body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    & > .ember-view{
      height: 100%;
      padding-top: 1px;
      position: relative;
    }
  }
}

* {
  box-sizing: border-box;
}

textarea{
  width: 100%;
  min-height: 50px;
  outline: 0;
  border: 1px solid #e8e6e6;
  border-bottom: 1px solid grey;
  font-size: 15px;
  margin: 20px 0;
  padding: 20px 20px 0;
  &::placeholder{
    color: #808080;
  }
  &.title{
    min-height: 50px;
  }
  &.body{
    min-height: 200px;
  }
}

input{
  width: 100%;
  outline: 0;
  border: 1px solid #e8e6e6;
  border-bottom: 1px solid grey;
  font-size: 15px;
  margin: 20px 0;
  padding: 20px 20px;
  &::placeholder{
    color: #808080;
  }
}

a {
  text-decoration: none;
  &:active{
    color: inherit;
  }
  :not(.button) {
    &:active{
      text-decoration: underline;
    }
    @media (hover:hover) {
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

button, .button {
  padding: 10px 15px;
  font-size: 14px;
  background: white;
  border: 1px solid black;
  display: inline-block;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  &:active{
    background: #ccc;
  }
  @media (hover:hover) {
    &:hover{
      background: #f5f5f5;
    }
  }
}

.go-back{
  position: fixed;
  top: 10px;
  left: 10px;
}

h2 {
  font-size: 24px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}



