html{
  height: 100%;
  body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    & > .ember-view{
      min-height: 100%;
      // padding-top: 1px;
      position: relative;
    }
  }
}

.viewport {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 100px; // for the-button primarily
  &.scroll-locked{
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
}

textarea{
  width: 100%;
  min-height: 50px;
  outline: 0;
  border: 1px solid #e8e6e6;
  border-bottom: 1px solid grey;
  font-size: 15px;
  margin: 20px 0;
  padding: 20px 20px 0;
  &::placeholder{
    color: #808080;
  }
  &.title{
    min-height: 50px;
  }
  &.body{
    min-height: 200px;
  }
}

input{
  width: 100%;
  outline: 0;
  border: 1px solid #e8e6e6;
  border-bottom: 1px solid grey;
  font-size: 15px;
  margin: 20px 0;
  padding: 20px 20px;
  &::placeholder{
    color: #808080;
  }
}

a {
  text-decoration: none;
  &:active{
    color: inherit;
  }
  :not(.button) {
    &:active{
      text-decoration: underline;
    }
    @media (hover:hover) {
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.go-back{
  position: fixed;
  top: 10px;
  left: 10px;
}

h2 {
  font-size: 24px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}



