.posts-container{
  padding: 0 15px;
  max-width: 768px;
  margin: 0 auto;
  .post{
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    position: relative;
    &:after{
      content: '';
      opacity: 0;
    }
    &.is-deleting{
      &:after{
        content: '';
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        background: rgba(0,0,0,1);
        opacity: 1;
        transition: opacity 200ms linear;
        z-index: 1;
      }
    }
  }
}

.new-post{
  max-width: 800px;
  padding: 15px;
  border-top: 1px solid grey-light;
  margin: 0 auto;
}
