.x-nav{
  .nav{
    list-style: none;
    margin: 0;
    padding: 5px 20px;
    text-align: right;
    li{
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      cursor: pointer;
      color: black;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

}
