.x-nav{
  background: white;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 1;
  .nav{
    list-style: none;
    margin: 0;
    padding: 15px 20px;
    text-align: left;
    .right{
      float: right;
    }
    li{
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
      cursor: pointer;
      user-select: none;
      color: black;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

}
