.x-writer{
  clear:both;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .title{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 0;
    min-width: 100%;
  }
  .body {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 0;
    min-width: 100%;
  }
  .wrap{
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
  }
  .controls{
    text-align: right;
    button{
      margin-left:10px;
    }
  }
  &.is-fullscreen{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index: $zi-x-writer--fullscreen;
    background: white;
    padding-top: 50px;
    .wrap{
      height: 100%;
    }
  }
}
