<div class="header">
  <h1>{{#link-to 'index'}}My blog title{{/link-to}}</h1>
  <span>My blog description</span>
</div>

<div class="container">
  {{#each posts as |post|}}
    {{x-post post=post goToPost=(action 'goToPost')}}
  {{else}}
    <h2>No posts</h2>
  {{/each}}
</div>